{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<form action="/admin_dashboard/posts" method="post">
    {{ form.csrf_token }}
    {{ form.start }}
    {{ form.end }}
    {{ form.user_id }}
    {{ form.submit }}
</form>
<div>
    {% for post in posts %}
    <div>
        {{ post['author_id'] }}
        <a href="/post/{{ post['id'] }}">{{ post['title'] }}</a>
        {{ post['description'] }}
        {{ post['time'] }}
        <button>Delete</button>
    </div>
    {% endfor %}
</div>
{% endblock %}